body{
    margin: 0px;
    
}

.post-container .date {
    color: #008080;
    font-family: Roboto;
    
}
div h1{
    font-family: Montserrat;
}
div.post{
    padding: 0 30px 0 30px;
}
.post-container{
    font-family: Open Sans;
    width: 70%;
    height: 100%;
    margin: 0px auto 0px auto;
    background-color: #fffafa;
}
.post-container div .post-content{
    width: 90%;
    font-family: open Sans;
    font-size: normal  ;
}
.post-container .post{
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    
}